<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.erhu"
          android:versionCode="1"
          android:versionName="1.0">
    <application
            android:icon="@drawable/sonata"
            android:label="@string/app_name"
            android:name=".activity.SSApplication">
        <activity android:name=".activityGroup.IndexActivityGroup"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.AllMusicListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.FavouriteListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.ArtistListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.PlayActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
                android:name=".activity.Mp3ProfileActivity"/>
        <service
                android:name=".service.MusicService"
                android:exported="false">
            <intent-filter>
                <action android:name="me.erhu.media.MUSIC_SERVICE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
